#ContentView {visibility:hidden;}
#ContentView {background:#E7E7E0; color:#000000; position:absolute; width:80%; height:100%; top:0%; left:20%; overflow:auto; font:13px sans-serif;}

#ContentView {}

#ContentView > div        {padding-bottom:24px;}
#ContentView div          {}
#ContentView div.chapter  {}
#ContentView div.chapter1 {padding-left:24px; padding-right:24px; padding-bottom:21px; margin-top:-6px;}
#ContentView div.chapter2 {}
#ContentView div.chapter3 {}
#ContentView div.chapter4 {}
#ContentView div.chapter5 {}
#ContentView div.chapter6 {}

#ContentView div.content  {}
#ContentView div.content1 {}
#ContentView div.content2 {}
#ContentView div.content3 {}
#ContentView div.content4 {}
#ContentView div.content5 {}
#ContentView div.content6 {}

#ContentView h1 {font-size:28px; margin-top:25px;}
#ContentView h2 {font-size:23px;}
#ContentView h3 {font-size:19px;}
#ContentView h4 {font-size:16px;}
#ContentView h5 {font-size:14px;}
#ContentView h6 {font-size:13px;}

#ContentView h1 > span,
#ContentView h2 > span,
#ContentView h3 > span,
#ContentView h4 > span,
#ContentView h5 > span,
#ContentView h6 > span {background:url(data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAcNJREFUeNqckz1rIlEUht876ohWfhWKlULAH2AliIoWNgumUpnCJgRSpLIWrMRfILHYPpVauGspNoLaabOFFomgok0KFb/GyZkr5otsdicHDpfL3POcl/POYblc7gLADeUVtEWN8qdeluWrTCZz6/V69VqqJ5OJVC6XoQJ+uFwu3fF41NTe6XQKBoPhUn84HFAsFhm+EYwx6Pf7PbLZrGI2mzVDCoXCCbDdbhWSoxmg1nLAZrMBAf6rQKfTQRCEV8But+MAURS/LB4Oh+j1eqChIxKJwO12Q63lCs75txiNRuh2u0ilUlitVqhWq5Ak6VXBVwC1c6fTQTKZhN1uh8VigdVqxXQ6/beC2WyGVqvFOzscDqzXa1QqFZhMJg55GaI6GNXTtzGfz9Hv9xEOh2Gz2bBcLlGr1UB2IxAIvHfBaDSyjy4MBgM+qHa7zWU3m01+RqPR0wPlBBDoT/w9Ho9lguCci8WCK/D5fIjFYiiVSvD7/UgkEi9vHh4fZFJVZcFg0Ee86/M2ptNpkRZF9Hg8TAWpSuLxuNJoNNbU6PhxG5miKPwWCoX4Wa/XJep0R8p+0fVPPp9/It/v6fvsM5eeBRgAoCXtWkvYH6YAAAAASUVORK5CYII=) no-repeat; padding-right:16px; margin-left:8px; position:relative; top:2px; display:inline-block; padding-top:16px; cursor:pointer; visibility:hidden;}

#ContentView a             {color:blue; text-decoration:underline; cursor:pointer; cursor:hand;}
#ContentView a.link        {color:#0070FF;}
#ContentView blockquote    {padding:6px; margin:0px; background:#F0F0E8; border:1px solid #D7D7D0;}
#ContentView button        {font:12px xtahoma, sans-serif;}
#ContentView dir           {margin-left:12px;}
#ContentView fieldset      {padding:6px; font:12px xtahoma, sans-serif; color:#000000;}
#ContentView hr            {color:none; border:0px solid; border-top:1px solid #A7A7A0; height:1px;}
#ContentView input         {font:12px xtahoma, sans-serif;}
#ContentView legend        {padding:6px; color:#000000; font:12px xtahoma, sans-serif;}
#ContentView ul            {margin-left:12px; padding-left:12px;}
#ContentView ol            {margin-left:12px; padding-left:12px;}
#ContentView pre           {padding:6px; margin:0px; background:#F0F0E8; border:1px solid #D7D7D0;}
#ContentView pre span.mark {}
#ContentView span.title    {}
#ContentView span.event    {color:#000000; border:1px solid #A7A7A0; padding-left:3px; padding-right:3px; font-size:0.75em; text-transform:uppercase;}
#ContentView span.mark     {background:#B0D0FF;}

#ContentView table     {margin:0px; padding:0px; color:#000000; border:none; border-collapse:collapse; font:12px xtahoma, sans-serif;}
#ContentView tr        {}
#ContentView th        {text-align:left; vertical-align:top; padding:6px;}
#ContentView th.left   {text-align:left;}
#ContentView th.center {text-align:center;}
#ContentView th.right  {text-align:right;}
#ContentView td        {text-align:left; vertical-align:top; padding:6px;}
#ContentView td.left   {text-align:left;}
#ContentView td.center {text-align:center;}
#ContentView td.right  {text-align:right;}

#ContentView table.alternate          {}
#ContentView table.alternate td.dark  {background:#F0F0E8;}
#ContentView table.alternate td.light {}

#ContentView table.grid    {}
#ContentView table.grid tr {}
#ContentView table.grid th {border:1px solid #000000;}
#ContentView table.grid td {border:1px solid #A7A7A0;}

#ContentView table.simple    {}
#ContentView table.simple tr {}
#ContentView table.simple th {border:1px solid #000000; border-left:0px; border-right:0px;}
#ContentView table.simple td {border:1px solid #A7A7A0; border-left:0px; border-right:0px;}

#ContentView table.blank    {}
#ContentView table.blank tr {}
#ContentView table.blank th {padding:0px; border:none;}
#ContentView table.blank td {padding:0px; border:none;}

#ContentView *.xs {width:10%;}
#ContentView *.s  {width:25%;}
#ContentView *.m  {width:50%;}
#ContentView *.l  {width:75%;}
#ContentView *.xl {width:100%;}

#ContentView *.red    {color:#FF0040; border-color:#FF0040;}
#ContentView *.green  {color:#00FF40; border-color:#00FF40;}
#ContentView *.yellow {color:#FFFF40; border-color:#FFFF40;}
#ContentView *.blue   {color:#0040FF; border-color:#0040FF;}
#ContentView *.bold   {font-weight:bold;}
#ContentView *.border {border:1px solid;}