body                                {margin:0px; padding:0px; overflow:hiden; background:#FFFFFF; border:0px solid; font:12px tahoma, sans-serif; cursor:default;}
button                              {font:0.75em tahoma, sans-serif;}
div                                 {-moz-box-sizing:border-box; box-sizing:border-box;}
table                               {margin:0px; padding:0px; border:none; border-collapse:collapse;}

div.display div.store               {display:none;}
div.print                           {display:none;}

div.toc                             {position:absolute; width:20%; height:100%; overflow:auto; font:12px tahoma, sans-serif; color:#000000;}
div.toc div                         {}
div.toc div.topic                   {padding:1px; padding-left:12px; white-space:nowrap;}
div.toc div.topic1                  {}
div.toc div.topic2                  {}
div.toc div.topic3                  {}
div.toc div.topic4                  {}
div.toc div.topic5                  {}
div.toc div.topic6                  {}
div.toc span.topic                  {}
div.toc span.topic1                 {}
div.toc span.topic2                 {}
div.toc span.topic3                 {}
div.toc span.topic4                 {}
div.toc span.topic5                 {}
div.toc span.topic6                 {}
div.toc span.node                   {height:14px; width:10px; overflow:hiden; margin-right:3px; cursor:pointer; cursor:hand;}
div.toc a.topic                     {cursor:pointer; cursor:hand;}

#ContentView                            {position:absolute; left:20%; width:80%; height:100%; overflow:auto; font:12px tahoma, sans-serif; color:#000000;}
#ContentView div                        {}
#ContentView div.chapter                {}
#ContentView div.chapter1               {padding-left:28px;}
#ContentView div.chapter2               {}
#ContentView div.chapter3               {}
#ContentView div.chapter4               {}
#ContentView div.chapter5               {}
#ContentView div.chapter6               {}
#ContentView div.content                {}
#ContentView div.content1               {}
#ContentView div.content2               {}
#ContentView div.content3               {}
#ContentView div.content4               {}
#ContentView div.content5               {}
#ContentView div.content6               {}

#ContentView h1                         {margin-top:0px; padding-top:24px; margin-bottom:24px; font-size:2.25em;}
#ContentView h2                         {margin-top:0px; padding-top:18px; margin-bottom:18px; font-size:2em;}
#ContentView h3                         {margin-top:0px; padding-top:16px; margin-bottom:16px; font-size:1.755em;}
#ContentView h4                         {margin-top:0px; padding-top:12px; margin-bottom:12px; font-size:1.5em;}
#ContentView h5                         {margin-top:0px; padding-top:12px; margin-bottom:12px; font-size:1.25em;}
#ContentView h6                         {margin-top:0px; padding-top:12px; margin-bottom:12px; font-size:1em;}

#ContentView a                          {color:blue; text-decoration:underline; cursor:pointer; cursor:hand;}
#ContentView a.link                     {color:#0070FF;}
#ContentView blockquote                 {padding:6px; margin:0px; background:#F0F0E8; border:1px solid #D7D7D0;}
#ContentView button                     {font:12px tahoma, sans-serif;}
#ContentView dir                        {margin-left:12px;}
#ContentView fieldset                   {padding:6px; font:12px tahoma, sans-serif; color:#000000;}
#ContentView hr                         {color:none; border:0px solid; border-top:1px solid #A7A7A0; height:1px;}
#ContentView input                      {font:12px tahoma, sans-serif;}
#ContentView legend                     {padding:6px; color:#000000; font:12px tahoma, sans-serif;}
#ContentView ul                         {margin-left:12px; padding-left:12px;}
#ContentView ol                         {margin-left:12px; padding-left:12px;}
#ContentView pre                        {padding:6px; margin:0px; background:#F0F0E8; border:1px solid #D7D7D0;}
#ContentView pre span.mark              {}
#ContentView span.title                 {}
#ContentView span.event                 {color:#000000; border:1px solid #A7A7A0; padding-left:3px; padding-right:3px; font:0.75em; text-transform:uppercase;}
#ContentView span.mark                  {background:#B0D0FF;}

#ContentView table                      {margin:0px; padding:0px; color:#000000; border:none; border-collapse:collapse; font:12px tahoma, sans-serif;}
#ContentView tr                         {}
#ContentView th                         {text-align:left; vertical-align:top; padding:6px;}
#ContentView th.left                    {text-align:left;}
#ContentView th.center                  {text-align:center;}
#ContentView th.right                   {text-align:right;}
#ContentView td                         {text-align:left; vertical-align:top; padding:6px;}
#ContentView td.left                    {text-align:left;}
#ContentView td.center                  {text-align:center;}
#ContentView td.right                   {text-align:right;}

#ContentView table.alternate            {}
#ContentView table.alternate td.dark    {background:#F0F0E8;}
#ContentView table.alternate td.light   {}

#ContentView table.label                {}
#ContentView table.label th             {padding:12px; padding-left:24px; padding-right:24px; font-size:48px; font-weight:bold; border:4px solid #A7A7A0;}
#ContentView table.label td             {font-size:12px; font-weight:normal; border:0px solid;}

#ContentView table.grid                 {}
#ContentView table.grid tr              {}
#ContentView table.grid th              {border:1px solid #000000;}
#ContentView table.grid td              {border:1px solid #A7A7A0;}

#ContentView table.simple               {}
#ContentView table.simple tr            {}
#ContentView table.simple th            {border:1px solid #000000; border-left:0px; border-right:0px;}
#ContentView table.simple td            {border:1px solid #A7A7A0; border-left:0px; border-right:0px;}

#ContentView table.blank                {}
#ContentView table.blank tr             {}
#ContentView table.blank th             {padding:0px; border:none;}
#ContentView table.blank td             {padding:0px; border:none;}

div.slide                           {position:absolute; left:20%; top:5%; width:7px; height:90%; overflow:hiden; background:none; cursor:w-resize;}
div.slide div.control               {width:1px; height:0.5%; margin-left:3px; overflow:hiden; background:#A7A7A0;}
div.slide img.control               {position:relative; top:-100%; width:7px; height:1000%; border:none;}

div.search                          {display:none;}
div.search a                        {text-decoration:none; font-weight:bold; color:#000000;}
div.search dir                      {margin-left:0px; padding-left:0px;}
div.search dir.chapter1             {}
div.search dir.chapter2             {padding-left:12px;}
div.search dir.chapter3             {padding-left:24px;}
div.search dir.chapter4             {padding-left:36px;}
div.search dir.chapter5             {padding-left:48px;}
div.search dir.chapter6             {padding-left:60px;}
div.search p                        {margin:0px; margin-left:12px;}

div.dialog                          {position:absolute; left:0; top:0; width:100%; height:100%; display:none;}

div.dialog div.shield               {position:absolute; left:0; top:0; width:100%; height:100%; background:#A7A7A0; filter:alpha(opacity=50); opacity:0.5;}
div.dialog div.margin               {position:absolute; background:#A7A7A0; border:1px solid #FFFFFF; filter:alpha(opacity=50); opacity:0.5;}
div.dialog div.store                {display:none;}
div.dialog div.screen               {position:absolute;}

div.dialog button                   {width:22px; height:22px; overflow:hiden; cursor:pointer;}
div.dialog textarea                 {width:100%; height:100%; overflow:auto; color:#000000; border:1px solid #777770;}

div.dialog.editor                   {}
div.dialog.editor div.margin        {left:5%; top:5%; width:90%; height:90%;}
div.dialog.editor div.screen        {left:5%; top:5%; width:90%; height:90%;}
div.dialog.editor div.bound         {position:relative; left:80%; top:-95%; width:1px; height:90%; overflow:hiden; background:#E7E7E0; cursor:text;}
div.dialog.editor input.info        {width:50%; border:none; text-align:right; color:#FFFFFF; background:none; font:12px tahoma, sans-serif; font-weight:bold;}
div.dialog.editor button            {}
div.dialog.editor button code       {display:none;}

div.dialog.chapters                 {}
div.dialog.chapters div.margin      {left:25%; top:25%; width:50%; height:50%;}
div.dialog.chapters div.screen      {left:25%; top:25%; width:50%; height:50%;}
div.dialog.chapters div.toc         {width:100%; height:100%; padding-top:13px; padding-bottom:13px; background:#FFFFFF; border:1px solid #777770;}
div.dialog.chapters div.toc.firefox {left:9%; top:9%; width:82%; height:82%;}
div.dialog.chapters button          {}

div.dialog.message                  {}
div.dialog.message div.margin       {left:15%; top:45%; width:70%; min-height:3%; padding:3%; font-weight:bold; font-size:2em; text-align:center; color:#FFFFFF; filter:alpha(opacity=80); opacity:0.8;}

div.symbol                          {width:16px; height:16px; margin:0px; padding:0px; overflow:hiden; background:url(symbols.gif) no-repeat;}

div.symbol.firefox                  {margin-left:-3px; margin-top:-2px;}

div.symbol.bold                     {background-position:-000px -032px;}
div.symbol.italic                   {background-position:-016px -032px;}
div.symbol.underline                {background-position:-032px -032px;}
div.symbol.strike                   {background-position:-048px -032px;}
div.symbol.tags                     {background-position:-064px -032px;}
div.symbol.superscript              {background-position:-080px -032px;}
div.symbol.subscript                {background-position:-096px -032px;}

div.symbol.heading                  {background-position:-112px -032px;}
div.symbol.bullets                  {background-position:-128px -032px;}
div.symbol.numbers                  {background-position:-144px -032px;}
div.symbol.pilcrow                  {background-position:-160px -032px;}
div.symbol.line                     {background-position:-176px -032px;}
div.symbol.separator                {background-position:-192px -032px;}
div.symbol.follow                   {background-position:-208px -032px;}
div.symbol.indent                   {background-position:-224px -032px;}
div.symbol.space                    {background-position:-240px -032px;}

div.symbol.css                      {background-position:-000px -048px;}
div.symbol.mark                     {background-position:-016px -048px;}
div.symbol.comment                  {background-position:-032px -048px;}
div.symbol.zone                     {background-position:-048px -048px;}
div.symbol.table                    {background-position:-064px -048px;}
div.symbol.html                     {background-position:-080px -048px;}

div.symbol.world                    {background-position:-000px -064px;}
div.symbol.document                 {background-position:-016px -064px;}
div.symbol.film                     {background-position:-032px -064px;}
div.symbol.image                    {background-position:-048px -064px;}
div.symbol.mail                     {background-position:-064px -064px;}
div.symbol.chapter                  {background-position:-080px -064px;}

div.symbol.disk                     {background-position:-000px -080px;}
div.symbol.refresh                  {background-position:-016px -080px;}
div.symbol.cancel                   {background-position:-032px -080px;}

img.symbol.node                     {width:9px; height:10px; overflow:hiden; background:url(symbols.gif) no-repeat;}

img.symbol.node.close               {background-position:-003px -019px;}
img.symbol.node.open                {background-position:-019px -019px;}
img.symbol.node.item                {background-position:-067px -020px;}
img.symbol.node.search              {background-position:-051px -019px;}
img.symbol.node.index               {background-position:-035px -019px;}

*.xs                                {width:10%;}
*.s                                 {width:20%;}
*.m                                 {width:50%;}
*.l                                 {width:70%;}
*.xl                                {width:90%;}

*.red                               {color:#FF0040;}
*.green                             {color:#00FF40;}
*.yellow                            {color:#FFFF40;}
*.blue                              {color:#0040FF;}
*.bold                              {font-weight:bold;}
*.border                            {border:1px solid;}

*.print.only {display:none!important;}